body {
  
  font-family: 'Montserrat', sans-serif;
  /* font-size: 18px;
  color: white; */
  background: rgba(103, 169, 231, 0.804);
  /* background: rgba(38, 67, 90, 0.835); */
  /* background: -webkit-linear-gradient(rgb(85, 85, 112), #30303C);
  background: linear-gradient(rgb(93, 188, 231), rgb(25, 125, 207)); */

}

.main-section {
  width: 100%;
  z-index: -5;
}

.background-image {
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: 0;
}

h1 {
  background: rgba(224, 135, 94, 0.849);
}