#mycanvas {
  position: absolute;
  z-index: 0;
}

#main-div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* background: rgba(231, 229, 229, 0.34); */
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 10px;
}

#button-div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#main-buttons {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-top: 20px;
  margin-right: 40px;
  border-radius: 20px;
  /* width: 100%; */
}

button {
  padding: 10px 20px 10px 20px;
  text-align: center;
}


.unselected {
  color: white;
  background: rgb(24, 46, 145);
}

.unselected:hover {
  padding: 10px 20px 10px 20px;
  text-align: center;
  background: rgb(39, 72, 163);
}

.selected {
  color: rgb(24, 46, 145);
  background: white;
}

#water-cycle {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
#carbon-cycle {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#descriptions {
  display: flex;
  /* justify-content: center; */
}

.smoke {
  display: flex;
  align-content: center;
  text-align: center;
  width: 200px;
  /* height: 200px; */
  border: 3px solid rgba(0, 0, 0, 0.589);
  border-radius: 5px;
  padding: 20px;
  background: rgba(231, 229, 229, 0.54);
  position: absolute;
  left: 25%;
  top: 100%;
  animation: slider 2s;
}

@keyframes slider{
  0% {
    left: -20%;
  }
  100% {
    left: 25%;
  }
}

.hidden {
  display: none;
}