#mycanvas {
  position: absolute;
  z-index: 0;
}

#main-div {
  display: flex;
  justify-content: flex-end;
  /* background: rgba(231, 229, 229, 0.34); */
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 10px;
}

#main-buttons {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-right: 20px;
  border-radius: 20px;
}

button {
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.unselected {
  color: white;
  background: rgb(24, 46, 145);
}

.selected {
  color: rgb(24, 46, 145);
  background: white;
}

#water-cycle {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
#carbon-cycle {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}